@page
@model webBuildings.Pages.IndexModel
@{
}

<h1>Lista de Obras</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Porcentaje Avance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var building in Model)
        {
            <tr>
                <td>@building.Id</td>
                <td>@building.Name</td>
                <td>@building.progress%</td>
            </tr>
        }
    </tbody>
</table>